
.sidenav-margins {
  min-width: 300px;
  margin-top: 50px;
  position: fixed;
  padding-left: 30px;
}
.sidenav-margins-right {
  min-width: 300px;
  margin-top: 50px;
  margin-left: 300px;
  position: fixed;
  right: 0;
}

.block-list {
  list-style-type: none;
  width: 100%;
}
.block-list li {
  margin-top: 10px;
  width: 100%;
}

.btn-group {
  padding-top: 10px;
}

.block-list li .blok-decyzyjny {
  margin-top: 35px;

}

.block-list li .blok-wejscia-wyjscia {
  margin-top: 35px;

}

.sidenav {
  background-color: white;
  height: 100%;
  padding-top: 20px;
}

.content-margins {
  margin-left: 235px;
  margin-right: 300px;
}

.svg-container {
  line-height: 0;
}

.move {
  /*width: 100%;*/
  /*margin: 5px;*/
}

.blok {
  width: 150px;
  height: 100px;
  background: #4DB6AC;
  color: white;
}

.pre-scrollable {
    max-height: 90%;
    overflow-y: scroll;
}

.codeTextArea {
  max-width: 100%;
  width: 100%;

}

.blok p {
  vertical-align: middle;
}

.bubble {
  width: 100%;
  height: 100%;
}

.process-skewx {
  transform: skewX( 45deg );
}

.selectedBlok {
  background: #00897B;
}

.blok-startowy {
  width: 200px;
  height: 75px;
  text-align: center;
  vertical-align: middle;
  border-radius: 25px;
  line-height: 75px;
  margin: 0;
}

.blok-decyzyjny {
  width: 100px;
  height: 100px;
  line-height: 35px;
  text-align: center;
  vertical-align: middle;
  transform:rotate(45deg);
}

#SVG {
  background-color: transparent;
  height: 100%;
  width: 100%;
}

polyline {
  background-color: transparent;
  fill: transparent;
  stroke-width: 3;
  stroke: gray;
}

.decision-rotate {
  transform:rotate(-45deg);
}

.blok-procesu {
  width: 95px;
  height: 45px;
  text-align: center;
  vertical-align: middle;
  margin-top: 20px;
  line-height: 15px;
  overflow-y: hidden;
  overflow-x: hidden;
  white-space: pre-wrap;

}

.blok-wejscia-wyjscia {
  width: 95px;
  height: 45px;
  text-align: center;
  vertical-align: middle;
  margin-top: 20px;
  transform: skewX( -45deg );
  line-height: 15px;
  overflow-y: auto;
  overflow-x: auto;
  /*white-space: nowrap;*/
}

.blok-wejscia-wyjscia p {
  vertical-align: middle;
  /*transform: skewX( 45deg );*/
}

button {
  margin-right: 3px;
}

@media (max-width: 767px) {
    .navbar-fixed-top {
        position: relative;
        top: auto;
    }
    .navbar-collapse {
        max-height: none;
    }
    body {
        margin: 0;
    }
    .sidenav-margins {
      margin: 0;
      position: relative;
    }
    .content-margins {
      margin: 0;
    }
}
